<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if menu.left is defined %}
        <ul class="nav navbar-nav">

          {% for route, item in menu.left %}
            {% set isDropdown = item.submenu is defined %}
            <li>
              <a
                      href="{{ routeExists(route) ? path(route) : route }}"
                      {% if isDropdown %}
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                      {% endif %}
              >
                {{ item.caption }}
                {% if isDropdown %}<span class="caret"></span>{% endif %}
              </a>

              {% if isDropdown %}
                <ul class="dropdown-menu">
                  {% if(item.cloneToSubmenu is defined and item.cloneToSubmenu) %}
                    <li>
                      <a href="{{ routeExists(route) ? path(route) : route }}">{{ item.caption }}</a>
                    </li>
                  {% endif %}

                  {% for subroute, subitem in item.submenu %}
                    <li>
                      <a href="{{ routeExists(subroute) ? path(subroute) : subroute }}">{{ subitem.caption }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>